#navbar {
  position: fixed;
  inset: 0; 
  margin: 4px auto; 

  max-width: 480px;
  max-height: 54px;
  display: block;
  align-items: center;
  justify-content: center;


  background-image: url("../imgs/nav/nav.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 450px auto;
  z-index: 1;

}
.nav-links {
  position: fixed;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 450px;
  height: 54px;

  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  gap: 20px;

  z-index: 10;
  pointer-events: auto; 
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-display);
}

.nav-links a:hover{
  background:none;
  color: var(--text-light)
}

.nav-links li:nth-child(1) a {
  display: inline-block;
  transform: translateX(2rem);
}

.nav-links li:nth-child(2) a {
  display: inline-block;
  transform: translateX(1rem);
}

.nav-links li:nth-child(3) a {
  display: inline-block;
  transform: translateX(-0.2rem);
}

.nav-links li:nth-child(4) a {
  display: inline-block;
  transform: translateX(-1.6rem);
}


.back-box {
  position: fixed;
  top: 28px;
  left: 12px;
  right: 12px;
  bottom: 12px;

  box-sizing: border-box;
  border: 4px solid transparent;
  border-radius: 16px;

  background:
    linear-gradient(var(--color-bg)) padding-box,
    linear-gradient(
      120deg,
      var(--outline-gradient-start),
      var(--outline-gradient-end)
    ) border-box;

  overflow: hidden;
  display: flex;
  flex-direction: column;
}


@media (max-width: 768px) {
  .back-box{
    border: 3px solid transparent;
    border-radius: 10px;
  }
  #navbar {
    position: fixed;
    inset: 0; 
    margin: 4px auto; 

    max-width: 85vw;
    max-height: 54px;
    background-size: 85vw auto;
  }
  .nav-links {
    width: 100%;
    max-width: 85vw;
    height: 54px;

    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    gap: 4vw;
    font-size: 3.2vw;
  }

  .nav-links a:hover{
    background:none;
    color: var(--text-light)
  }

  .nav-links li:nth-child(1) a {
    display: inline-block;
    transform: translateX(6vw);
  }

  .nav-links li:nth-child(2) a {
    display: inline-block;
    transform: translateX(3.2vw);
  }

  .nav-links li:nth-child(3) a {
    display: inline-block;
    transform: translateX(0.3vw);
  }

  .nav-links li:nth-child(4) a {
    display: inline-block;
    transform: translateX(-4vw);
  }

}

@media (max-width: 400px) {

  .nav-links li:nth-child(1) a {
    display: inline-block;
    transform: translate(6vw, 0.2vw);
  }

  .nav-links li:nth-child(2) a {
    display: inline-block;
    transform: translate(3.2vw, 0.2vw);
  }

  .nav-links li:nth-child(3) a {
    display: inline-block;
    transform: translate(0.3vw, 0.2vw);
  }

  .nav-links li:nth-child(4) a {
    display: inline-block;
    transform: translate(-4vw, 0.2vw);
  }
}