

:root {
   --color-bg: #353844;
   --color-purple: #A494E5;
   --color-peach: #E5A494;
   --color-text: #FFE3DE;
   --color-text-soft: #F9E5DE;
   --color-muted: #7B6E96;
   --color-muted-2: #8A7182;
   --color-muted-3: #987571;
   --color-gold: #EAC07D;
   --color-gold-light: #F9DC8C;
   --color-coral: #FBA498;
   --color-line: #D2C2BF;

   --text-accent:   #eca18f;
   --text-link: #edc4b7;

   --gradient-accent: linear-gradient(90deg, var(--color-purple), var(--color-peach));

  --font-decor:  'Elltaneixy', 'Calibri', sans-serif;
  --font-display:  'Vicitys Gytura', 'Calibri', sans-serif;
  --font-body:  'AllenSans', 'Calibri', sans-serif;

   --canvas-w: 1440;
   --canvas-h: 1024;
   --canvas-ratio: calc(var(--canvas-w) / var(--canvas-h));
   --canvas-w-mobile: 628;
   --canvas-h-mobile: 1638;
    --canvas-ratio-mobile: calc(var(--canvas-w-mobile) / var(--canvas-h-mobile));
    
   --radius-sm: 6px;
   --radius-md: 12px;

   --outline-gradient-start: #A494E5;
   --outline-gradient-end: #E5A494;

   --nav-from:      #2A2435;
   --nav-to:        #242635;
   --outline-width: 3.2px;

   --hover-highlight: #faba9c19;
   --hover-highlight-light: #faba9c0d;
   --cursor-circle-rad: 12px; 
   --cursor-rad: 12px;  
   --cursor-color: #f7d1ba;
}



@font-face {
  font-family: 'Elltaneixy';
  src: url('../fonts/Elltaneixy.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Vicitys Gytura';
  src: url('../fonts/Vicitys Gytura.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'AllenSans';
  src: url('../fonts/AllenSans-Light.ttf') format('opentype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}