---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
  </url>
  <url>
    <loc>{{ site.url }}/blog/</loc>
  </url>
  <url>
    <loc>{{ site.url }}/gallery/</loc>
  </url>
  <url>
    <loc>{{ site.url }}/portfolio/</loc>
  </url>
  {%- for post in collections.posts %}
  <url>
    <loc>{{ site.url }}{{ post.url }}</loc>
    <lastmod>{{ post.date.toISOString().slice(0, 10) }}</lastmod>
  </url>
  {%- endfor %}
</urlset>
