<footer class="site-footer">
  <nav class="footer-links">
    <a href="/">Home</a>
    <a href="/commissions/">Commissions</a>
    <a href="https://www.instagram.com/kiwi.kittwn.designs" target="_blank" rel="noopener noreferrer" class="footer-icon-link" class="footer-social">
      <img src="/static/imgs/home/insta-icon.svg" alt="Instagram" class="footer-icon">&ensp;@kiwi.kittwn.designs
    </a>
    <a href="mailto:contact@kiwikittwn.space" class="footer-icon-link">
      <img src="/static/imgs/home/mail-icon.svg" alt="Email" class="footer-icon">&ensp;contact@kiwikittwn.space
    </a>
  </nav>
  <p class="footer-copyright">&copy; {{ site.currentYear }} kiwikittwn. rights reserved.</p>
</footer>
