<nav id="navbar"></nav>
<ul class="nav-links">
  <li><a href="/">Home</a></li>
  <li><a href="/gallery">Gallery</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/portfolio">Portfolio</a></li>
</ul>
